[submodule "Chef.tmbundle"]
	path = Chef.tmbundle
	url = https://github.com/drnic/Chef.tmbundle.git
[submodule "ruby.tmbundle"]
	path = ruby.tmbundle
	url = https://github.com/textmate/ruby.tmbundle
[submodule "vagrant.tmbundle"]
	path = vagrant.tmbundle
	url = https://github.com/textmate/vagrant.tmbundle
[submodule "coffee-script.tmbundle"]
	path = coffee-script.tmbundle
	url = https://github.com/textmate/coffee-script.tmbundle
[submodule "shellscript.tmbundle"]
	path = shellscript.tmbundle
	url = https://github.com/textmate/shellscript.tmbundle
